---
import Layout from "../layouts/Layout.astro";
import Blob from "../components/Blob";
import HeroCard from "../components/HeroCard";
import { Content as MyContent } from "../components/Code.md";
---

<Layout title="linus the dev">
	<div class="blob-container">
		<Blob client:load />
	</div>
	<HeroCard client:load>
		<MyContent />
	</HeroCard>
</Layout>

<style>
	div.container {
		max-width: 500px;
		width: 100%;
		height: 500px;
	}
	canvas {
		width: 100%;
		height: 100%;
		touch-action: none;
	}
	h1 {
		margin: auto;
	}
	h1 span {
		color: tomato;
	}
</style>
